<div class="btn-group btn-group-sm pull-right">
  <% unless authorization_enabled? && !policy(resource).show? %>
    <%= link_to godmin_translate("column_actions.show"), resource, class: "btn btn-default" %>
  <% end %>
  <% unless authorization_enabled? && !policy(resource).edit? %>
    <%= link_to godmin_translate("column_actions.edit"), [:edit, resource], class: "btn btn-default"  %>
  <% end %>
  <% unless authorization_enabled? && !policy(resource).destroy? %>
    <%= link_to godmin_translate("column_actions.destroy"), resource, method: :delete, data: { confirm: godmin_translate("column_actions.confirm_message") }, class: "btn btn-danger" %>
  <% end %>
</div>
