bundler_args: --without debug
cache: bundler
script: "bundle exec rake test"

rvm:
  - 2.6.7
  - 2.7.3

gemfile:
  - gemfiles/rails_5.gemfile
  - gemfiles/rails_6.gemfile

addons:
  code_climate:
    repo_token: 7e7ee66c976bdfe7a0d40d41958b97a1cf8a03b0462df5cba415f624c07c2071
