/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'bootstrap';
@import 'godmin/bootstrap-chosen';

// body {
//   margin-top: 20px;
// }

h3 {
  margin-bottom: 1em;
}

footer {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 1px solid #eee;
  color: #ccc;
  font-size: 10px;
  text-transform: uppercase;
}

// .btn {
//   &.btn-primary {
//     color: #049cdb;
//     background-color: inherit;
//   }
//   &.btn-danger {
//     color: #9d261d;
//     background-color: inherit;
//   }
// }
