/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

#scopes {
  margin-bottom: 20px;
}

#filters {
  .filter {
    min-width: 170px;
  }
}

#actions {
  @include clearfix();
  margin-bottom: 20px;
}

#table {
  td {
    vertical-align: middle;
  }
}

.pagination {
  margin: 0 0 10px 0;
}

.highlight {
  -webkit-animation: highlight 3s;
}

@-webkit-keyframes highlight {
  from {
    background: #fffbcc;
  }
  to {
    background: none;
  }
}
