/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1410px
) !default;

@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "selectize";
@import "selectize.bootstrap3";

body {
  margin-top: 20px;
  margin-bottom: 20px;
}

#login {
  margin-top: 20px;
}

#breadcrumb {
  .dropdown:before {
    content: " ";
  }
}

#scopes {
  margin-bottom: 20px;
}

#filters {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eceeef;

  .filter .control-label {
    display: block;
  }
  .filter .form-control {
    min-width: 170px;
  }
  .filter .form-control.selectize-control {
    height: 34px;
  }
  .filter .form-control.selectize-control.single .item {
    padding-right: 25px;
  }
}

#actions {
  @include clearfix();
  margin-bottom: 20px;
}

#table {
  td {
    vertical-align: middle;
  }
  td .btn-group {
    display: flex;
  }
}

.pagination {
  margin: 0 0 10px 0;
}

.pagination-entries {
  line-height: 35px;
}

.highlight {
  -moz-animation: highlight 3s;
  -webkit-animation: highlight 3s;
}

@-moz-keyframes highlight { from { background: #fffbcc; } to { background: none; } }
@-webkit-keyframes highlight { from { background: #fffbcc; } to { background: none; } }




.sidebar {
  padding-right: 30px;
  border-right: 1px solid #eceeef;
  text-align: right;

  .sidebar-title {
    font-size: 1.2rem;
    line-height: 3rem;
  }

  .nav-item {
    padding: 6px 0;

    &:first-child {
      padding-top: 12px;
    }

    &:last-child {
      padding-bottom: 12px;
    }
  }

  .nav-link {
    color: #bbb;

    &.active {
      color: #777;
    }
  }
}
