<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Welcome aboard</h1>
      <p>
        You are now experiencing, first-hand, the power of Godmin:
        an admin framework for Rails 4+, tweakable to the max.
      </p>
      <p>
        <a href="https://github.com/varvet/godmin/" class="btn btn-primary btn-lg" role="button">
          <span class="glyphicon glyphicon-book"></span>
          Browse the documentation
        </a>
      </p>
    </div>
    <h2>
      Getting started<br>
      <small>
        Here's how to get rolling:
      </small>
    </h2>
    <hr>
    <h4>1. Use rails generate to create your admin resources</h4>
    <p>
      Generate some admin resources for your models. Provided you
      have an Article model with a title
      and a published column, run the following to
      generate an admin controller + route:
    </p>
    <p>
      <pre>$ bin/rails generate godmin:resource article title published</pre>
    </p>
    <hr>
    <h4>2. Set up a root route to replace this page</h4>
    <p>
      You're seeing this page because you're running in development
      mode and you haven't set a root route yet. Add the root route
      to the godmin block in your <code>config/routes.rb</code>
    </p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Version</div>
      <div class="panel-body">
        You are running Godmin <%= Godmin::VERSION %>
      </div>
    </div>
  </div>
</div>
