<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <p>
        You are running Godmin <%= Godmin::VERSION %>.
        Add your own root route to the routes file in order to remove this page.
      </p>
      <p>
        <a href="https://github.com/varvet/godmin/" class="btn btn-primary btn-lg" role="button">
          <span class="glyphicon glyphicon-book"></span>
          Browse the documentation
        </a>
      </p>
    </div>
  </div>
</div>
