<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Welcome aboard</h1>
      <p>
        You are now experiencing, first-hand, the power of Godmin:
        an admin framework for Rails, tweakable to the max.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" role="button">
          Browse the documentation
        </a>
      </p>
    </div>
    <h2>
      Getting started<br>
      <small>
        Here's how to get rolling:
      </small>
    </h2>
    <hr>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Browse the documentation</div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
