<div id="actions">
  <div class="pull-md-left">
    <%= render partial: "batch_actions" %>
  </div>
  <div class="pull-md-right">
    <%= render partial: "button_actions" %>
    <%= render partial: "export_actions" %>
  </div>
</div>
