<div id="actions">
  <div class="pull-left">
    <%= render partial: "batch_actions" %>
  </div>
  <div class="pull-right">
    <%= render partial: "button_actions" %>
    <%= render partial: "export_actions" %>
  </div>
</div>
