<div id="actions">
  <div class="pull-left">
    <%= render partial: "batch_actions" %>
  </div>
  <div class="pull-right">
    <% unless authorization_enabled? && !policy(@resources).create? %>
      <%= link_to godmin_translate("create_resource"), [:new, @resource_class.to_s.underscore], class: "btn btn-default" %>
    <% end %>
  </div>
</div>
