<% unless batch_process_map.empty? %>
  <%= link_to "Select all", "#", class: "btn btn-default batch-process-select batch-process-select-all" %>
  <%= link_to "Deselect all", "#", class: "btn btn-default batch-process-select batch-process-select-none hidden" %>

  <div class="btn-group">
    <% batch_process_map.each do |name, options| %>
      <%= godmin_batch_action_link(name, options) %>
    <% end %>
  </div>

  <%= hidden_field_tag "batch_process[action]", nil, id: "batch-process-action" %>
<% end %>
