<% if batch_action_map.present? %>
  <%= link_to translate_scoped("batch_actions.buttons.select_all"), "#", class: "btn btn-default",
    data: { behavior: "batch-actions-select batch-actions-select-all" } %>
  <%= link_to translate_scoped("batch_actions.buttons.deselect_all"), "#", class: "btn btn-default hidden",
    data: { behavior: "batch-actions-select batch-actions-select-none" } %>

  <div class="btn-group">
    <% batch_action_map.each do |name, options| %>
      <%= batch_action_link(name, options) %>
    <% end %>
  </div>

  <%= hidden_field_tag "batch_action[action]", nil, data: { behavior: "batch-actions-action" } %>
<% end %>
