<% unless batch_process_map.empty? %>
  <%= link_to godmin_translate_for_resource("batch_processes.select_all"), "#", class: "btn btn-default batch-process-select batch-process-select-all" %>
  <%= link_to godmin_translate_for_resource("batch_processes.deselect_all"), "#", class: "btn btn-default batch-process-select batch-process-select-none hidden" %>

  <div class="btn-group">
    <% batch_process_map.each do |name, options| %>
      <%= godmin_batch_action_link(name, options) %>
    <% end %>
  </div>

  <%= hidden_field_tag "batch_process[action]", nil, id: "batch-process-action" %>
  <!-- TODO: remove these two br:s -->
  <br><br>
<% end %>
