<% if batch_action_map.present? %>
  <%= link_to godmin_translate("batch_actions.select_all"), "#", class: "btn btn-default batch-actions-select batch-actions-select-all" %>
  <%= link_to godmin_translate("batch_actions.deselect_all"), "#", class: "btn btn-default batch-actions-select batch-actions-select-none hidden" %>

  <div class="btn-group">
    <% batch_action_map.each do |name, options| %>
      <%= batch_action_link(name, options) %>
    <% end %>
  </div>

  <%= hidden_field_tag "batch_action[action]", nil, id: "batch-actions-action" %>
<% end %>
