<ol class="breadcrumb">
  <% if index %>
    <li class="active">
      <%= @resource_class.model_name.human(count: 2) %>
    </li>
  <% else %>
    <li>
      <%= link_to @resource_class.model_name.human(count: 2), @resource_class %>
    </li>
  <% end %>
  </li>
  <% unless index %>
    <li class="active">
      <% if @resource.new_record? %>
        <%= godmin_translate("create_resource") %>
      <% else %>
        <%= @resource.to_s %>
      <% end %>
    </li>
  <% end %>
</ol>
