<ol class="breadcrumb">
  <li>
    <%#= link_to resource_class.model_name.human(count: 2), url_for([:admin, resource_class]) %>
  </li>
  <% if scope_map && params[:scope].present? %>
    <li class="active">
      <%= scope_map[params[:scope].to_sym][:label] %>
    </li>
  <% end %>
</ol>
