<% if errors.present? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled">
      <% errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
