<% if @resource_service.attrs_for_export.present? %>
  <div class="btn-group hidden-sm-down">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
      <%= translate_scoped("actions.export") %> <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <%= link_to "#{translate_scoped("actions.export_as")} JSON", url_for(params.merge(only_path: true, format: "json")), class: "dropdown-item" %>
      <%= link_to "#{translate_scoped("actions.export_as")} CSV", url_for(params.merge(only_path: true, format: "csv")), class: "dropdown-item" %>
    </div>
  </div>
<% end %>
