<%= simple_form_for @resource, html: { role: "form" } do |f| %>
  <% attrs_for_form.each do |attr| %>
    <div class="form-group">
      <% if @resource_class.reflect_on_association(attr) %>
        <%= f.association attr, error: false, input_html: { class: "form-control select-tag" } %>
      <% else %>
        <%= f.input attr, error: false, input_html: { class: "form-control" } %>
      <% end %>
    </div>
  <% end %>
  <%= f.button :submit, class: "btn btn-default" %>
<% end %>
