<%= simple_form_for [:admin, resource], html: { role: 'form' } do |f| %>
  <% attrs_for_form.each do |attr| %>
    <div class="form-group">
      <% if resource_class.column_names.include? attr.to_s %>
        <%= f.input attr, input_html: { class: 'form-control' } %>
      <% else %>
        <%= f.association attr, input_html: { class: 'form-control chosen' } %>
      <% end %>
    </div>
  <% end %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
