<% unless scope_map.empty? %>
  <div id="scopes">
    <ul class="nav nav-tabs">
      <% scope_map.each do |name, options| %>
        <li class="<%= "active" if params[:scope] == name.to_s %>">
          <%= link_to godmin_translate("scopes.#{name.to_s.underscore}", default: name.to_s.titleize), url_for(params.merge(scope: name, only_path: true).except(:page)) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
