<div id="table" class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <% if @resource_service.include_batch_actions? %>
          <th></th>
        <% end %>
        <% @resource_service.attrs_for_index.each do |attr| %>
          <th class="column-<%= attr %>">
            <%= column_header attr %>
          </th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "#{controller_path}/table_row", collection: @resources, as: :resource %>
    </tbody>
  </table>
</div>
