<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tr>
      <% unless batch_process_map.empty? %>
        <th></th>
      <% end %>
      <% attrs_for_index.each do |attr| %>
        <th>
          <%= godmin_column_header attr %>
        </th>
      <% end %>
      <th></th>
    </tr>
    <% collection.each do |resource| %>
      <% if flash[:batch_processed_ids] && flash[:batch_processed_ids].include?(resource.id) %>
        <tr class="highlight">
      <% else %>
        <tr>
      <% end %>
        <% unless batch_process_map.empty? %>
          <td align="center">
            <%= check_box_tag "batch_process[items][#{resource.id}]" %>
          </td>
        <% end %>
        <% attrs_for_index.each do |attr| %>
          <td>
            <%= godmin_column_value(resource, attr) %>
          </td>
        <% end %>
        <td>
          <%= godmin_render_partial "columns/actions", locals: { resource: resource } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
