<div id="table" class="table-responsive">
  <table class="table table-bordered table-hover">
    <tr>
      <% if batch_action_map.present? %>
        <th></th>
      <% end %>
      <% attrs_for_index.each do |attr| %>
        <th>
          <%= column_header attr %>
        </th>
      <% end %>
      <th></th>
    </tr>
    <% @resources.each do |resource| %>
      <% if flash[:batch_actioned_ids] && flash[:batch_actioned_ids].include?(resource.id) %>
        <tr class="highlight">
      <% else %>
        <tr>
      <% end %>
        <% if batch_action_map.present? %>
          <td align="center">
            <%= check_box_tag "batch_action[items][#{resource.id}]" %>
          </td>
        <% end %>
        <% attrs_for_index.each do |attr| %>
          <td>
            <%= column_value(resource, attr) %>
          </td>
        <% end %>
        <td>
          <%= render partial: "columns/actions", locals: { resource: resource } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
