<ol class="breadcrumb">
  <li><%= link_to resource_class.model_name.human(:count => 2), url_for([:admin, resource_class]) %></li>
  <li class="active"><%= resource.to_s %></li>
</ol>

<%= render('errors', :errors => resource.errors) if resource.errors.present? %>

<%= render 'form' %>
