
<%= godmin_render_partial "header" %>

<%#= godmin_render_partial "breadcrumb_index" %>

<% if filter_map.present? %>
  <%= godmin_render_partial "filters" %>
<% end %>

<%#= form_tag(polymorphic_path([:batch_action, :admin, resource_class]), id: 'batch-process-form') do %>

  <%= godmin_render_partial "scopes" %>

  <%#= godmin_render_partial "batch_actions" %>

  <%= godmin_render_partial "table" %>

  <%#= paginate collection %>

  <div class="pull-right">
    <%#= page_entries_info collection %>
  </div>

<%# end %>
