<%= render partial: "breadcrumb" %>

<table class="table">
  <% @resource_service.attrs_for_show.each do |attr| %>
    <tr>
      <th><%= @resource_class.human_attribute_name(attr) %></th>
      <td><%= column_value(@resource, attr) %></td>
    </tr>
  <% end %>
</table>
