<% content_for :body do %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Godmin</h3>
          </div>
          <div class="panel-body">
            <%= render "layouts/godmin/content" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/godmin/layout" %>
